<ion-view title="Map">
  <ion-content class=" padding">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <form class="inputForm" name="addressForm" ng-submit="getAddressPosition(startAddress)" ng-init="setFormScope(this)">
          <input type="text" placeholder="Start Address" ng-model="startAddress">
        </form>
      </label>
      <button class="button button-dark" ng-click="getCurrentPosition()">
        <span class="icon ion-android-locate"></span>
      </button>
    </div>

  </ion-content>
</ion-view>
